.App-container {
  display: flex;
  flex-direction: column;
  background-color: #cad1d6;
  align-items: center;
  justify-items: center;
  height: 100%;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center   ; */
  padding: 20px;
  height: 100vh;
}

.underline {
  width: 180px;
  height: 4px; 
  background-color: #a78bfa; 
  margin-top: -16px;

  border-radius: 4px;
}
